.flex.flex-row{class: "h-[100vh] w-[100vw]", 'data-controller': 'editor alphatab', 'data-score-value': @music.score}
	#split-0{'data-editor-target': 'split0'}
	#split-1.h-full.w-full{'data-editor-target': 'split1'}
		= render AlphatabComponent.new music: @music