.at-sidebar-content
  .at-track-list{'data-alphatab-target': 'tracks'}

%template#at-track-tempalte{'data-alphatab-target': 'track'}
  .at-track.flex
    .at-track-icon
      %i.fas.fa-guitar
    .at-track-details
      .at-track-name
