.at-wrap.h-full.w-full{'data-controller': "alphatab", 'data-alphatab-target': 'wrapper', 'data-editor-target': 'alphatab', "data-alphatab-alphatex-value": @music.score}
	= render AlphatabOverlayComponent.new
	.at-content
		.at-sidebar
			= render AlphatabTracksComponent.new
		.at-viewport{'data-alphatab-target': 'viewport'}
			.at-main{'data-alphatab-target': 'main'}
	= render AlphatabControlsComponent.new
