.at-controls
  .at-controls-left
    %a.btn.at-player-stop{'data-alphatab-target': 'playerStop' }
      %i.fas.fa-step-backward
    %a.btn.at-player-play-pause{'data-alphatab-target': 'playerPause' }
      %i.fas.fa-play
    %span.at-player-progress{'data-alphatab-target': 'playerProgress' }
    .at-song-info
      %span.at-song-title{'data-alphatab-target': 'songTitle' }
      \-
      %span.at-song-artist{ 'data-alphatab-target': 'songArtist' }
    .at-song-position 00:00 / 00:00
    .at-song-info
      %span.at-song-title
      \-
      %span.at-song-artist
  .at-controls-right
    %a.btn.toggle.at-count-in{ 'data-alphatab-target': 'countIn' }
      %i.fas.fa-hourglass-half
    %a.btn.toggle.at-metronome{ 'data-alphatab-target': 'metronome' }
      %i.fas.fa-edit
    %a.btn.toggle.at-loop{ 'data-alphatab-target': 'loop' }
      %i.fas.fa-retweet
    %a.btn.at-print
      %i.fas.fa-print{ 'data-alphatab-target': 'print' }
    .at-zoom{ 'data-alphatab-target': 'zoom' }
      %i.fas.fa-search
      %select
        %option{:value => "25"} 25%
        %option{:value => "50"} 50%
        %option{:value => "75"} 75%
        %option{:value => "90"} 90%
        %option{:selected => "selected", :value => "100"} 100%
        %option{:value => "110"} 110%
        %option{:value => "125"} 125%
        %option{:value => "150"} 150%
        %option{:value => "200"} 200%
    .at-layout{ 'data-alphatab-target': 'layout' }
      %select
        %option{:value => "horizontal"} Horizontal
        %option{:selected => "selected", :value => "page"} Page
