.py-4.flex.justify-between.text-gray-500.hover:text-gray-900{class: @dropdown_list_css_class}
	= link_to @path, class: "block", **@link_options do
		%i.fas.fa-lg.text-slate-400.mr-4{class: @icon}
		= @text
