.py-4.flex.justify-between.text-slate-400.hover:text-slate-600{class: @dropdown_list_css_class}
	= link_to @path, class: "flex justify-between items-center w-full", **@link_options do
		%i.fas.fa-lg.mr-4{class: @icon}
		%span
			= @text
