%footer.fixed.grid.grid-cols-2.gap-2.bg-white.left-0.right-0.bottom-0.w-full.p-8
	= link_to score_path(music) , class: "block bg-cyan-300 text-white p-4 rounded text-center" do
		%i.fas.fa-eye
		%span.text-xl
			Watch Score

	= link_to edit_score_path(music), class: "block bg-slate-300 text-white p-4 rounded text-center" do
		%i.fas.fa-edit
		%span.text-xl
			Edit Score